# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/aoc2019/.vs/aoc2019/v16
/aoc2019/aoc2019_01/Debug
/aoc2019/Debug
/aoc2019/aoc2019_01/aoc2019_01.vcxproj.user
/aoc2019/aoc2019_01/aoc2019_01.vcxproj.filters
/aoc2019/aoc2019_02/Debug
/aoc2019/aoc2019_02/aoc2019_02.vcxproj.user
/aoc2019/aoc2019_02/aoc2019_02.vcxproj.filters
